%canvas#rating-over-time-graph{'data-player-id' => @player.id, 'data-limit' => 99999}}
.slider{'data-slider' => '', 'data-initial-start' => 10, 'data-end' => 100}
  %span.slider-handle{'data-slider-handle' => '', 'role' => 'slider', 'tabindex' => '1'}
  %span.slider-fill{'data-slider-fill' => ''}
  %input{'type' => 'hidden'}
