.container
  = render partial: 'players/profile_topbar'
  %table{width: '100%'}
    %caption
      Games Played (#{@player.games.count})
    %thead
      %tr
        %th
          Humble Victor
        %th
          Graceful Defeated
        %th
          Date
    %tbody
      = render @games

  = paginate @games, param_name: 'games_page'
