%table{width: '100%'}
  %caption
    Current Results
    %p
      Click name to see remaining matches
  %thead
    %tr
      %th
        Player
      %th
        Rating
      %th
        Points
  %tbody
  - @players.each do |player|
    %tr
      %td
        = link_to player.name, player_path(player)
      %td
        = player.rating
      %td
        = @tournament.match_points_for player
