.row
  .small-12.columns
    %h2
      Current Tournaments
    - @tournaments.each do |tournament|
      = link_to tournament.name, tournament_path(tournament), class: 'button secondary expand'
.row
  .small-12.columns
    %h2
      = link_to 'Setup Tournament', new_tournament_path, { class: 'button expand' }



