%h3
  = @tournament.name

%table{width: '100%'}
  %thead
    %tr
      %th
        Player
      - @tournament.players.each do |player|
        %th
          = player.name

    %tbody
      - @tournament.players.each do |primary|
        %tr
          %td
            = primary.name
          - @tournament.players.each do |secondary|
            - if primary == secondary
              %td
                X
            - else
              %td
                = link_to 'Play', new_tournament_match_path(@tournament, {players: [primary, secondary] })
