%h3
  Tournament Name:
  = @tournament.name

%h3 Players:
%table{width: '100%'}
  %thead
    %tr
      %th
        Player
      - @tournament.players.each do |player|
        %th
          = player.name

    %tbody
      - @tournament.players.each do |row|
        %tr
          %td
            = row.name
          - @tournament.players.each do |col|
            - if row == col
              %td
                X
            - else
              %td
                = link_to 'Play', new_tournament_match_path(@tournament, {players: [row, col] })
