.row
  .small-12.columns
    = render 'current_results'
.row
  .small-12.large-12.columns.show-for-medium-up
    = render partial: 'round_robin_table', locals: { tournament: @tournament, players: @tournament.players }

- unless @tournament.expired?
  .row
    .columns
      = render 'add_player'
