%table{width: '100%'}
  %caption
    Past Games
  %thead
    %tr
      %th
        Humble Victor
      %th
        Graceful Defeated
      %th
        Date
  %tbody
    = render @games

= paginate @games
