.large-6.columns
  .row
    .small-12.large-6
      %h1 Add Game or Play Best of Five
      = render 'new_game_form'

.large-6.columns.show-for-large
  %h3 Last Ten Games
  %table{width: '100%'}
    %thead
      %tr
        %th
          Humble Victor
        %th
          Graceful Defeated
        %th
          Date
    %tbody
      = render last_ten_games

