.join-tournament
  = form_for(@tournament, :as => :tournament, :url => {:controller => "tournaments", :action => "update"}) do |f|
    .row
      .small-12.large-6.columns
        = f.label :name, 'Not to late to join!'
        = f.collection_select(:players, all_players_exclude(@tournament.players), :id, :name, { include_blank: 'Select your Name'})
    .row
      .small-12.large-6.columns
        %p
          = f.submit 'Add Player', class: 'button expanded secondary'

