.row
  .small-12.columns
    = render 'current_results'
- if @tournament.expired? && @player
  .row
    .small-12.large-12.columns
      = render partial: 'matchups_for_player', locals: { tournament: @tournament, player: @player }
- else
  .row
    .small-12.large-12.columns.show-for-medium-up
      = render partial: 'round_robin_table', locals: { tournament: @tournament, players: @tournament.players }

- unless @tournament.expired?
  .row
    .columns
      = render 'add_player'
