.main-content
  %table{width: '100%'}
    %thead
      %tr
        %th
          Rank
        %th
          Name
        %th
          Rating
        %th
          Won / Lost
    = render @players
.new-game.hide
  = render 'games/new_game_form'
