%h3 Profile

%p
  %strong
    Name:
  = @player.name
%p
  %strong
    Rating:
  = @player.rating

%h3 Games Played

%table{width: '100%'}
  %thead
    %tr
      %th
        Humble Victor
      %th
        Graceful Defeated
      %th
        Date
  %tbody
    = render @player.games
