.div{id: 'tabs'}
  %ul
    %li
      %a{href: '#player-info'}
        Profile
    %li
      %a{href: '#game-info'}
        Games
    %li
      %a{href: '#tournament-info'}
        Tournaments
  .div{id: 'player-info'}
    = render 'player_info'
  .div{id: 'game-info'}
    = render 'game_info'
  .div{id: 'tournament-info'}
    = render 'tournament_info'
