.div{id: 'tabs'}
  %ul
    %li{'data-tab-index'=>'0'}
      %a{href: '#player-info'}
        Profile
    %li{'data-tab-index'=>'1'}
      %a{href: '#game-info'}
        Games
    %li{'data-tab-index'=>'2'}
      %a{href: '#tournament-info'}
        Tournaments
    %li{'data-tab-index'=>'3'}
      %a{href: '#rating-over-time'}
        Stats
  .div{id: 'player-info'}
    = render 'player_info'
  .div{id: 'game-info'}
    = render 'game_info'
  .div{id: 'tournament-info'}
    = render 'tournament_info'
  .div{id: 'rating-over-time'}
    = render 'rating_over_time'
