.section {
  border: solid black 3px;
  width: 45vw;
  height: 19vh;
  margin-right: 5px;
  margin-bottom: 5px
}

.sectionHeader {
  font-size: 1em;
  text-align: center;
}

.sectionBody {
  text-align: center;
}

.sectionBody p {
  text-align: center;
  font-size: 3em;
}

.sectionBody a {
  text-align: center;
  font-size: 1em;
}
