/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui/datepicker
 *= require jquery-ui/tabs
 *= require elo
 *= require tournaments
 *= require player_profile
 */

@import "foundation_and_overrides";
@import 'constants';
@import 'elo';
@import 'clubs';
@import 'foundation-icons';

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.top-bar {
  color: white;
}

.top-bar-title  {
  color: white;
}

#footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 10%;
}
#footer a {
  color: white;
  padding: 3% 0 3% 0;
}

#footer i {
  font-size: 2em;
}

#footer span {
  font-size: 0.75em;
}

.container {
  margin-bottom: 30%;
}

@media only screen and (min-width: 40.063em) {
  .container {
    margin-top: 60px;
  }
}

.orange-bar{
  top: 0;
  background-color: $ace-orange;
  width: 100%;
  height: .5em;
  z-index: 1;
}

.gameDetails {
  border: 1px solid #5FDD5F;
  padding: .35em;
  background: #D8F9D8;
}

.gameDetails p {
  margin: 0;
}

.rating-change-up {
  // use icon fi-arrow-up
  font-weight: bold;
  color: #219371;
}

.rating-change-down {
  // use icon fi-arrow-down
  font-weight: bold;
  color: red;
}



input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label {
  background-color: darkgrey;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  background-color: darkgrey;
}

.text-center {
  text-align: center;
}

.empty-table-data {
  background-color: lightgrey;
}
