/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui/datepicker
 *= require elo
 *= require tournaments
 *= require player_profile
 */

@import "foundation_and_overrides";
@import 'constants';
@import 'elo';
@import 'clubs';
@import 'foundation-icons';
@include foundation-progress-element;

@media screen and (min-width: 320px) {
  // IPhone 5
  .center-of-circle {
    line-height: 2.8;
  }

  .big-circle {
    height: 77px;
    width: 77px;
  }

  .little-circle {
    height: 52px;
    width: 52px;
  }
}

@media screen and (min-width: 375px) {
  // IPhone 6
  .center-of-circle {
    line-height: 3;
  }

  .big-circle {
    height: 80px;
    width: 80px;
  }

  .little-circle {
    height: 55px;
    width: 55px;
  }

}

@media screen and (min-width: 414px) {
  // IPhone 6 Plus
  .center-of-circle {
    line-height: 3.3;
  }

  .big-circle {
    height: 85px;
    width: 85px;
  }

  .little-circle {
    height: 60px;
    width: 60px;
  }
}

.circle {
  background-color: #FAFBFC;
  border: solid $primary-color 3px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.foo {
  padding-left: 3em;
}

#hidden {
  display: none;
}

.shade-background {
  background-color: lightgrey;
}

.profile-circles{
  margin-top: 1em;
}

.with-border {
  border: solid lightgrey 1px;
}

.profile-link-text {
  padding: .5em;
  text-align: center;
  margin: 0;
  font-size: 0.7em;
}

.no-margin {
  margin: 0;
}

.rating-over-time {
  border: solid lightgrey 1px;
}

caption {
  text-align: left;
}

.top-bar {
  color: white;
}
.top-bar a {
  color: white;
}
.top-bar a:hover {
  color: grey;
}

.top-bar-title  {
  color: white;
}

td {
  border-bottom: 1px solid lightgrey;
  text-align: left;
}

#footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 10%;
}
#footer a {
  color: white;
  padding: 3% 0 3% 0;
}

#footer i {
  font-size: 2em;
}

#footer span {
  font-size: 0.75em;
}

.container {
  margin-top: 1%;
  margin-bottom: 20%;
}

.orange-bar{
  top: 0;
  background-color: $ace-orange;
  width: 100%;
  height: .5em;
  z-index: 1;
}

.gameDetails {
  margin-top: 1em;
  border: 1px solid #5FDD5F;
  padding: .35em;
  background: #D8F9D8;
}

.gameDetails p {
  margin: 0;
}

.rating-change-up {
  // use icon fi-arrow-up
  font-weight: bold;
  color: #219371;
}

.rating-change-down {
  // use icon fi-arrow-down
  font-weight: bold;
  color: red;
}



input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label {
  background-color: darkgrey;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  background-color: darkgrey;
}

.text-center {
  text-align: center;
}

.empty-table-data {
  background-color: lightgrey;
}
