/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new * file per style scope.
 *
 *= require_self
 *= require jquery-ui/datepicker
 */

@import 'constants';
@import 'clubs';
@import 'footer';
@import "foundation_and_overrides";
@import 'match';
@import 'media_styles';
@import 'player_profile';
@import 'topbar';
@import 'tournaments';
@import 'bracket';

@import 'foundation-icons';
@include foundation-progress-element;

.vertical-center {
  padding-top: 4em;
  padding-bottom: 4em;
}

.with_padding {
  padding-left: 3em;
}

.hamburger-hidden {
  display: none;
}

.with-border {
  border: solid lightgrey 1px;
}

.no-margin {
  margin: 0;
}

caption {
  text-align: left;
}

td {
  border-bottom: 1px solid lightgrey;
  text-align: left;
}

.container {
  margin-top: 1%;
  margin-bottom: 25%;
}

.text-center {
  text-align: center;
}

