#footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  min-height: 10%;
}

#footer li {
  padding: 0 .66em 0 .66em;
  width: 20%;
}

#footer a {
  color: white;
  padding: 0px;
}

#footer span {
  font-weight: bold;
  font-size: 0.5em;
}
