.gameDetails {
  margin-top: 1em;
  border: 1px solid #5FDD5F;
  background: #D8F9D8;
  padding: .25em;
}

.popIt {
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    background-color: #5FDD5F;
    border-radius: 5px;
  }

  to {
    font-size: 1em;
  }
}

.gameDetails p {
  margin-bottom: 0.25em;
}

.undoGame {
  margin-top: 1em;
  font-weight: bold;
}

.swapButton {
  text-align: center;
  border: 2px solid #1779ba;
  padding: 0.50em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label {
  background-color: darkgrey;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  background-color: darkgrey;
}

