.pvp-title {
  padding: 1em;
}

.rating-change-up {
  // use icon fi-arrow-up
  font-weight: bold;
  color: #219371;
}

.rating-change-down {
  // use icon fi-arrow-down
  font-weight: bold;
  color: red;
}

.rating-over-time {
  border: solid lightgrey 1px;
}

.profile-circles{
  margin-top: 1em;
}

.profile-link-text {
  padding: .5em;
  text-align: center;
  margin: 0;
  font-size: 0.7em;
}

.shade-background {
  background-color: lightgrey;
}

.circle {
  background-color: #FAFBFC;
  border: solid $primary-color 3px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.greenCircle {
  border: solid green 3px;
}

.redCircle {
  border: solid red 3px;
}


