- if flash[:notice]
  .callout.success{'data-closeable' => ''}
    = flash[:notice]
    %button.close-button{href: "#", "data-close" => ""} &times;

- if flash[:alert]
  .callout.warning{'data-closable' => ''}
    = flash[:alert]
    %button.close-button{href: "#", "data-close" => ""} &times;
