%ul.icon-bar.menu.expanded.icon-top#footer.show-for-small-only{"data-sticky-container" => ""}
  %li
    %a{href: games_path}
      %i.fi-clock
      %span Past Games
  %li
    %a{href: new_game_path}
      %i.fi-trophy
      %span Add Game
  %li
    %a{href: root_path}
      %i.fi-home
      %span Home
  %li
    %a{href: clubs_path}
      %i.fi-torsos-all
      %span Clubs
  %li
    %a{href: tournaments_path}
      %i.fi-crown
      %span Tournaments
