%ul.menu.expanded.icon-top#footer.show-for-small-only{"data-sticky-container" => ""}
  %li
    %a{href: games_path}
      %i.fas.fa-history.fa-lg
      %span Past Games
  %li
    %a{href: new_game_path}
      %i.fas.fa-table-tennis.fa-lg
      %span Add Game
  %li
    %a{href: root_path}
      %i.fas.fa-home.fa-lg
      %span Home
  %li
    %a{href: clubs_path}
      %i.fas.fa-users.fa-lg
      %span Clubs
  %li
    %a{href: tournaments_path}
      %i.fas.fa-trophy.fa-lg
      %span Tournaments
