.orange-bar
.top-bar
  .top-bar-title
    %span{"data-responsive-toggle" => "responsive-menu"}
      %button.menu-icon{"data-toggle" => "", :type => "button"}
    %strong
      = ELO_APP_NAME
  #responsive-menu
    .top-bar-right
      %ul.dropdown.menu{"data-dropdown-menu" => ""}
        %li
          = link_to "New Club", new_club_path
        %li
          = link_to "Add Player", new_player_path
        %li
          = link_to "Tournaments", tournaments_path

